<p>
  <a routerLink="/concerts/new" class="btn btn-primary">Nouveau concert</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Recherche...">
</p>
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
  <data-table-column [property]="'mainArtist'" [header]="'Artiste'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'otherArtist'" [header]="'1ère partie'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'venue'" [header]="'Salle'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'date'" [header]="'Date'" [sortable]="true" [resizable]="true" width="100px">
      <ng-template #dataTableCell let-item="item">
          {{item.date | date:'dd/MM/yyyy':'':'fr'}}
      </ng-template>
  </data-table-column>
  <data-table-column [property]="'rating'" [header]="'Note'" [sortable]="true" [resizable]="true" width="100px"></data-table-column>
  <data-table-column [property]="'$key'" width="80px">
  <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/concerts/',item.$key]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <i *ngIf="item.comment" class="fa fa-comment-o" aria-hidden="true"></i>
  </ng-template>
  </data-table-column>
</data-table>