<div class="row" *ngIf="comics.length>0">
  <div class="card mb-3">
    <div class="card-header">Les 5 dernières BDs</div>
    <div class="card-body">
      <p class="card-text">
        <ng-container *ngFor="let comic of comics; let i = index;">
          <a [routerLink]="['/comics/',comic.$key]">
            <img class="col col-2-4" [src]="comic.imageUrl" alt="" title={{comic.title}} style="max-width:130px;height:auto" />
          </a>
        </ng-container>
      </p>
    </div>
  </div>
</div>