<p>
    <a routerLink="/books/new" class="btn btn-primary">Nouveau livre</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Recherche...">
</p>
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="'title'" [header]="'Titre'" [sortable]="true" [resizable]="true"></data-table-column>
    <data-table-column [property]="'writer'" [header]="'Auteur'" [sortable]="true" [resizable]="true"></data-table-column>
    <data-table-column [property]="'rating'" [header]="'Note'" [sortable]="true" [resizable]="true"></data-table-column>
    <data-table-column [property]="'$key'">
    <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/books/',item.$key]">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </ng-template>
    </data-table-column>
</data-table>