<h2>Import de données</h2>

<div class="card">
  <h4 class="card-header">Livres</h4>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <label class="custom-file">
        <input type="file" (change)="changeListenerBook($event)" id="file_book" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      <br>      
    </p>  
      <div *ngIf="fileNameBook">Fichier : {{ fileNameBook }}
      <button class="btn btn-primary" (click)="extractDataBook()">
        Import des données
      </button>
    </div>
  </div>
</div>
<br>
<div class="card">
  <h4 class="card-header">Concerts</h4>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <label class="custom-file">
        <input type="file" (change)="changeListenerConcert($event)" id="file_concert" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      <br>      
    </p>  
      <div *ngIf="fileNameConcert">Fichier : {{ fileNameConcert }}
      <button class="btn btn-primary" (click)="extractDataConcert()">
        Import des données
      </button>
    </div>
  </div>
</div>
<br>
<div class="card">
  <h4 class="card-header">Films</h4>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <label class="custom-file">
        <input type="file" (change)="changeListenerMovie($event)" id="file_movie" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      <br>      
    </p>  
      <div *ngIf="fileNameMovie">Fichier : {{ fileNameMovie }}
      <button class="btn btn-primary" (click)="extractDataMovie()">
        Import des données
      </button>
    </div>
  </div>
</div>
<br>
<div class="card">
  <h4 class="card-header">Séries</h4>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <label class="custom-file">
        <input type="file" (change)="changeListenerTvshow($event)" id="file_tvshow" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      <br>      
    </p>  
      <div *ngIf="fileNameTvshow">Fichier : {{ fileNameTvshow }}
      <button class="btn btn-primary" (click)="extractDataTvshow()">
        Import des données
      </button>
    </div>
  </div>
</div>
<br>
<div class="card">
  <h4 class="card-header">BDs</h4>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <label class="custom-file">
        <input type="file" (change)="changeListenerComic($event)" id="file_comic" class="custom-file-input"/>
        <span class="custom-file-control"></span>
      </label>
      <br>      
    </p>  
      <div *ngIf="fileNameComic">Fichier : {{ fileNameComic }}
      <button class="btn btn-primary" (click)="extractDataComic()">
        Import des données
      </button>
    </div>
  </div>
</div>


