<div class="row" *ngIf="books.length>0">
    <div class="card mb-3">
      <div class="card-header">Les 5 derniers livres</div>
      <div class="card-body">
        <p class="card-text">
          <ng-container *ngFor="let book of books; let i = index;">
            <a [routerLink]="['/books/',book.$key]">
              <img class="col col-2-4" [src]="book.imageUrl" alt="" title={{book.title}} style="max-width:130px;height:auto" />
            </a>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
  