<p>
  <a routerLink="/tvshows/new" class="btn btn-primary">Nouvelle série</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Recherche...">
</p>
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
  <data-table-column [property]="'title'" [header]="'Titre'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'season'" [header]="'Saison'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'date'" [header]="'Date'" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
          {{item.date | date:'MMMM yyyy':'':'fr'}}
      </ng-template>
  </data-table-column>
  <data-table-column [property]="'rating'" [header]="'Note'" [sortable]="true" [resizable]="true"></data-table-column>
  <data-table-column [property]="'$key'" width="80px">
  <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/tvshows/',item.$key]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
  </ng-template>
  </data-table-column>
</data-table>